<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="accountId" value="1" />
        <add key="accountLogin" value="testLogin" />
        <add key="executorId" value="21" />
        <add key="executorName" value="testExecutor123" />
    </appSettings>
</configuration>